body{
    font-family: 'Balsamiq Sans';
    padding: 0 10%;
}

.nav{
    display: flex;
    flex-direction: row;
    background-color:lightgrey;
    align-items: center;
    padding: 1%;
    width: 100%;
}

.buscador{
    flex: 1;
    margin: 5%;
}

.login {
    background-color: #4477be;
    color: white;
}

.contenedor {
    display: flex;
    flex-direction: row;
}

.ladoI{
    flex: 2;
}

.ladoD{
    flex: 1;
}

.is, .ii { 
    border: 1px solid black;
    margin: 2%;
    padding: 3%;
} 

h4{
    font-style: italic;
}

.ninjacursive{
    font-style: italic;
}

.numerodelikes{
    background-color: rgb(255, 233, 108);
    border: 1px solid black;
    padding: 1% 5%;
    box-shadow: 3px 3px 0px 0px black;
    font-weight: bold;
}

.sd { 
    border: 1px solid black;
    margin: 2%;
    padding: 3%;
}

.adddefinition{ 
    background-color: lightgreen;
    border: 1px solid black;
    padding: 1% 5%;
    box-shadow: 3px 3px 0px 0px black;
    font-weight: bold;
    width: 100%;
}